<div class="container-fluid">
  <div class="row">

    <div class="titulo">
      <p>Atenção</p>
    </div>

    <div class="titulo-info">
      <h5 [innerHTML]="titulo"></h5>
      <div *ngIf="subtitulo">
        <small>{{subtitulo}}</small>
      </div>
    </div>

    <div class="botoes">
      <button mat-raised-button (click)="close(true)" class="btn-sim">{{confirmar}}</button>
      <button mat-raised-button (click)="close(false)" class="btn-nao">{{naoConfirmar}}</button>
    </div>
  </div>
</div>
